<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <form action="/email_submission" method="post">
            <label>
                Email: <!--flash message will pop up here -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <span class="flash_msg">{{ message }}</span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="email" name="email_address" id="email_address" class="textbox">
            </label>
            <input type="submit" value="Submit Email" class="btn">
        </form>
    </div>
</body>
</html>